/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Gabriel Torres
   Date:   1/14/18

   Filename: cg_validate.css

*/


/* Validation Styles */
/* select:focus,
input:focus,
textarea:focus {
    background-color: rgb(245, 245, 140);
}

select:focus,
input:focus,
textarea:focus */